<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz Atabilirsiniz.</h1>

            <p class="lead">
                Son projelerime GitHub linkimden ulaşabilirsiniz.<br/>GitHub Link:https://github.com/Tugce-hub

            </p>
        </div>
    </div>

   

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

           