@model List<Skill>
@{
    ViewData["Title"] = "Skill";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>Index</h1>

<div class="container mt-4">
    <h2>Yeteneklerim</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>C#:75</strong> 
        </li>
        <li class="list-group-item">
            <strong>Python:60</strong> 
        </li>
        <li class="list-group-item"> 
            <strong>SQL:60</strong> 
        </li>
        <li class="list-group-item">
            <strong>Asp.Net Core:50</strong> 
        </li>
        <li class="list-group-item">
            <strong>Html,Css:75</strong> 
        </li>
        <li class="list-group-item">
            <strong>Javascript:45</strong> 
        </li>
        <li class="list-group-item">
            <strong>React:50</strong> 
        </li>
    </ul>
</div>



